
.backgroundimage {
  background-position: center;
  background-size: cover;
}

ul, li { 
  list-style-type: none; 
  padding-left: 10em;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

.logo {
  width:20%;
  height:20%;
  float: left;
}

h1, h2, p {
text-align: center;
clear: both;
}

.navbar {
background-color: #1e90ff;
}

li {
background-color: orange;
}
