.backgroundimage {
  background-position: center;
  background-size: cover;
}

.logo {
  width:20%;
  height:20%;
  float: left;
}

h1, h2, p {
text-align: center;
clear: both;
}

.navbar { 
  width: 20%;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

.home, .shop, .contact, .about {
  display: inline-block;
  float: left;
  width: 40%;
  text-align: center;
  
}
