
backgroundimage {
  background-position: center;
  background-size: cover;
}

ul { 
  list-style-type: none;
  margin: 0;  
  padding: 0;
  display: inline;
}

navbaricon {
  max-width:240px;
  max-height:240px;
}

title {
text-align: center;
}
