
backgroundimage {
  background-position: center;
  background-size: cover;
}

ul { 
  list-style-type: none;
  margin: 0;  padding: 0;
}

navbaricon {
  width:25%;
  height:25%;
  max-width:240px;
  max-height:240px;
}
title {position: center;
}
